body{
    font-size: 16px;
}
h1{
    font-size: 65px;
    color: orange;

    font-family: sans-serif;
    font-weight: 600;
    font-style: italic;
}
p{
    font-size: 3rem;
    line-height: 1.6;
    text-decoration: line-through;
}
.frutas{
        background-color: aqua;
    }
ul{
    background-color: forestgreen;
}
.maca{
    background-color: red;
}
.banana{
    background-color: yellow;
}
.goiaba{
    background-color: greenyellow;
}
